/* Move down content because we have a fixed navbar that is 3.5rem tall */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 4.5rem;
}

.Content {
  flex: 1 0 auto;
}

.Footer {
  text-align: center;
  flex-shrink: 0;
}
